{{extend '../_layouts/home.html'}}
{{block 'title'}}{{'维修管理系统 - 首页'}}{{/block}}
{{block 'body'}}
<div class="container" style=" height:0px;
padding-bottom:100%;">
    <!-- <ul class="nav nav-pills nav-stacked col-md-2" style="display: block;float: left;">
        <li role="presentation" class="active"><a href="/student">公告</a></li>
        <li role="presentation"><a href="/student/report">报修</a></li>
        <li role="presentation"><a href="#">记录</a></li>
    </ul> -->
    <div class="col-md-2 list-group">
        <a href="/student/notice" class="list-group-item active">公告</a>
        <a href="/student/report" class="list-group-item ">报修</a>
        <a href="/student/record" class="list-group-item ">记录</a>
    </div>
    <div id="myCarousel" class="carousel slide col-md-10" style="width: 70%;height: auto;padding: 0;">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../public/img/1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="../public/img/timg5.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="../public/img/timg6.jpg" alt="Third slide">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{{/block}}