{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'维修系统 - 个人设置'}}{{/block}}
{{ block 'head'}}
<style>
    #div1 {
        border: 1px solid #d8dee2;
        border-radius: 5px;
        background-color: #fcfcfc;
        margin-bottom: 15px;
        padding: 15px;
        text-align: left;
    }
</style>

{{ /block }}
{{block 'body'}}

<section class="container" style=" height:0px;
padding-bottom:100%;">
    <div class="col-md-3 list-group">
        <a href="#" class="list-group-item disabled">用户设置</a>
        <a href="/student/setting" class="list-group-item ">基本信息</a>
        <a href="/student/password" class="list-group-item active">密码修改</a>

    </div>
    <div class="panel panel-info col-md-5" id='div1' style="padding: 0px;">
        <div class="panel-heading">
            <h3 class="panel-title">密码修改</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="poss_from">
                <input type="hidden" name="id" value="{{ user._id }}" id="">
                <input type="hidden" name="username" value="{{ user.username }}" id="">

                <div class="form-group">
                    <label for="inputPassword2" class="col-sm-3 control-label">旧密码</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword2" name="password" placeholder="旧密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">新密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3" name="newpassword"
                            placeholder="新密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword4" class="col-sm-3 control-label">确认新密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword4" name="newpassword2"
                            placeholder="新密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-10">
                        <button type="submit" class="btn btn-info">确认</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}
<script>
    $('#poss_from').on('submit', function (e) {
        e.preventDefault()
        //判断用户数据输入
        var oldpass = document.getElementById('inputPassword2').value
        var newpass1 = document.getElementById('inputPassword3').value
        var newpass2 = document.getElementById('inputPassword4').value
        if (oldpass == '' || newpass1 == '' || newpass2 == '') {
            window.alert('请填写数据！')
            return false
        }
        if (newpass1 != newpass2) {
            window.alert('新密码不一致！')
            return false
        }
        var formData = $(this).serialize()
        console.log(formData)
        $.ajax({
            url: '/student/password',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 1) {
                    window.alert('密码错误')
                    // 服务端重定向针对异步请求无效
                    window.location.href = '/student/password'
                }
                if (err_code === 2) {
                    window.alert('保存成功！！')
                    // 服务端重定向针对异步请求无效
                    window.location.href = '/login'
                } else if (err_code === 500) {
                    window.alert('服务器忙，请稍后重试！')
                }
            }
        })
    })
</script>
{{/block}}