.aui-info {
  position: relative;
}

.fileInput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: block;
  width: 3.5rem;
  clear: both;
  display: block;
  margin: auto;
  background-color: red;
}
