<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    body {
      background-image: url(../../public/img/404.jpg);
    }

    div {
      position: absolute;
      top: 55%;
      left: 49%;
    }
  </style>
</head>

<body>

  <div><a class="btn btn-primary" onClick="javascript:history.back(-1);">返回上页</a></div>



</body>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

</html>